@model WebsiteThietBiDienTu.Models.Tintuc

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mx-5">Chi tiết</h1>

<div>
    <h4 class="mx-5">Tin tức</h4>
    <hr />
    <dl class="row mx-5">
        <dt class = "col-sm-2">
            Tiêu đề
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TieuDe)
        </dd>
        <dt class = "col-sm-2">
           Tóm tắt
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TomTat)
        </dd>
        <dt class = "col-sm-2">
            Nội dung
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
        <dt class = "col-sm-2">
           Hình ảnh
        </dt>
        <dd class = "col-sm-10">
           <img src="/images/news/ @Html.DisplayFor(model => model.HinhAnh)"/>
        </dd>
        <dt class = "col-sm-2">
           Ngày đăng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDang)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaTin" class="btn btn-outline-warning">Chỉnh sửa</a> |
    <a asp-action="Index">Back to List</a>
</div>
