@model IEnumerable<WebsiteThietBiDienTu.Models.Khachhang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">DANH MỤC</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DANH SÁCH KHÁCH HÀNG</h6>
        </div>

        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Tên khách hàng
                            </th>
                            <th>
                                Điện thoại
                            </th>
                            <th>
                                Email
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ten)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DienThoai)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    <a class="btn btn-outline-primary mx-auto" asp-action="Details" asp-route-id="@item.MaKh">Details</a> 
                                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.MaKh">Delete</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>