@model WebsiteThietBiDienTu.Models.Tintuc


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="~/images/news/@Model.HinhAnh" width="100%" height="80%" />
        </div>
        <div class="col-md-6">
            <p class="px-2 text-center fw-bold fs-3">@Model.TieuDe</p>
            <p class="py-2 fw-bold">@Model.TomTat</p>
            <p id="txtNoiDung">@Html.Raw(Model.NoiDung)</p>
            <p class="py-md-2 text-md-left">Ngày đăng: @Model.NgayDang</p>
        </div>
        <div class="col-md-3 bg-light">
            <h5 class="text-center fw-bold">Tin tức có liên quan</h5>
            @foreach (var news in ViewBag.tintuc)
            {
                <div class="py-2">
                    <a class="px-2 text-center" asp-action="TinTuc" asp-route-id="@news.MaTin">@news.TieuDe</a>
                </div>

            }
        </div>
    </div>
</div>