@model WebsiteThietBiDienTu.Models.Sanpham

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xóa sản phẩm</h1>

<h3>Bạn có muốn xóa sản phẩm này không?</h3>
<div>
    <h4>Sanpham</h4>
    <hr />
    <dl class="row mx-auto">
        <dt class = "col-sm-2">
            Tên sản phẩm
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class = "col-sm-2">
           Giá gốc
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaGoc)
        </dd>
        <dt class="col-sm-2">
            Giá bán
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaBan)
        </dd>
        <dt class = "col-sm-2">
           Số lượng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class = "col-sm-2">
            Mô tả
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            Hình ảnh
        </dt>
        <dd class="col-sm-10">
            <img src="~/images/products/@Html.DisplayFor(model => model.HinhAnh)" class="img-thumbnail" width="100" />
        </dd>
        <dt class = "col-sm-2">
           Lượt xem
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LuotXem)
        </dd>
        <dt class = "col-sm-2">
           Lượt mua
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LuotMua)
        </dd>
        <dt class = "col-sm-2">
            Danh mục
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDmNavigation.Ten)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaMh" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở về trang chủ</a>
    </form>
</div>
