@model IEnumerable<WebsiteThietBiDienTu.Models.Sanpham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }

}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Sản phẩm</h1>
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DANH MỤC SẢN PHẨM</h6>
            </div>
            <div class="card-body">
                <form class="py-auto mx-auto" asp-action="Index" method="get">
                    <input type="text" name="searchString" placeholder="Từ khóa tìm kiếm">
                    <button type="submit">Tìm kiếm</button>
                </form>
                <div class="table-responsive">

                    <table class="table table-bordered">
                        <a class="btn btn-outline-primary" asp-action="Create" asp-controller="Sanphams">Thêm Sản Phẩm</a>

                        <thead>
                            <tr>
                                <th>
                                    <a asp-action="Index" asp-route-sortOrder="Name">Tên</a>
                                </th>
                                <th>
                                    Giá Gốc
                                </th>
                                <th>
                                    <a asp-action="Index" asp-route-sortOrder="Price">Gía</a>
                                </th>
                                <th>
                                    Số Lượng
                                </th>
                                <th>
                                    Mô Tả
                                </th>
                                <th>
                                    Hình ảnh
                                </th>
                                <th>
                                    Lượt Xem
                                </th>
                                <th>
                                    Lượt Mua
                                </th>
                                <th>
                                    Tên Danh mục
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ten)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GiaGoc)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GiaBan)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SoLuong)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MoTa)
                                    </td>
                                    <td>
                                        <img src="~/images/products/@Html.DisplayFor(modelItem => item.HinhAnh)" class="img-thumbnail" width="100" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LuotXem)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LuotMua)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaDmNavigation.Ten)
                                    </td>
                                    <td>
                                        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.MaDm">Sửa</a>
                                        <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.MaDm">Chi Tiết</a>
                                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.MaDm">Xóa</a>
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>

                </div>

            </div>

        </div>
    </div>

    <!-- DataTales Example -->


</div>
<div class="container">
    <partial name="_pager" model="@pager" />
</div>


