@model WebsiteThietBiDienTu.Models.Hoadon

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xóa đơn hàng</h1>

<h3>Bạn có muốn xóa đơn hàng này không?</h3>
<div>
    <h4>Hóa đơn</h4>
    <hr />
    <dl class="row mx-auto">
        <dt class = "col-sm-2">
           Ngày đặt hàng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngay)
        </dd>
        <dt class = "col-sm-2">
            Tổng tiền
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongTien)
        </dd>
        <dt class = "col-sm-2">
            Trạng thái đơn hàng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
           Địa chỉ 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDcNavigation.DiaChi1)
        </dd class>
        <dt class = "col-sm-2">
            Tên khách hàng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaKhNavigation.Ten)
        </dd class>
    </dl>
    
    <form asp-action="Delete" class="mx-auto">
        <input type="hidden" asp-for="MaHd" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a class="btn btn-outline-primary" asp-action="Index">Trở lại trang chủ</a>
    </form>
</div>
